body {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  background-color: #ffffffae;
  color: #333;
}

header h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
  color: #0e8219;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

.titulo-tabela {
  background-color: rgb(0, 0, 0);
  color: green;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dfe9e5;
  text-align: center;
  padding: 10px 0;
}

footer p {
  font-family: 'Dancing Script', cursive;
  font-size: 1.2em;
  color: #2a7f62;
}